.bodyy{
    display: grid;
    grid-template-areas: 
    "nav nav"
    "main main"
    "footer footer";
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 600px 100px;
}

// HEADER
.header_pages{
    grid-area: nav;
    background-color: #000000;
    height: 100%;
    width: 100%;
}

.navbar2 ul{
    list-style: none;
    display: block;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding: 0%;
    margin: 0%;
    height: 100%;
}

.navbar2{
    height: 100%;
}

.navbar2 nav{
    height: 100%;
}

.navbar2 ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Righteous', cursive;
    border-right: 1px solid white;
    border-left: 1px solid white;
    transition: 1s;
    padding: 3px;
}

.navbar2 ul li a:hover{
    color: rgb(255, 184, 97);
    font-size: 17px;
    padding: 10px;
}

.logo_div{
    height: 60%;
    width: 30%;
}

.logo_img{
    height: 60%;
    width: 30%;
}


// MAIN
.main_pages{
    grid-area: main;
    background-color: rgb(255, 220, 185);
    height: 100%;
    width: 100%;
}

.locales_separador{
    margin-top: 30px;
}

.elegir_local ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.elegir_local ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Righteous', cursive;
}

.elegir_local{
    margin-right: 300px;
}



// FOOTER
.footer_pages{
    grid-area: footer;
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
}



// JS

.imglocal{
    text-align: center;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 40px;
}

.imagenlocal{
    height: 400px;
    width: 700px;
    border-radius: 4px;
}

.letraLocales{
    font-family: 'Righteous', cursive;
    margin-left: 30px;
    margin-top: 110px;
    border-bottom: 1px solid black;
    color: rgb(0, 0, 0);
    line-height: 2;
    box-shadow: 10px 5px 5px black;
    background-color:rgb(253, 197, 141);
}


// BOTONES
#btnNordelta{
    border: none;
    font-family: 'Righteous', cursive;
    background: none;
    transition: 1s;
}

#btnSanIsidro{
    border: none;
    font-family: 'Righteous', cursive;
    background: none;
    transition: 1s;
}

#btnVillaMayo{
    border: none;
    font-family: 'Righteous', cursive;
    background: none;
    transition: 1s;
}

#btnBenavidez{
    border: none;
    font-family: 'Righteous', cursive;
    background: none;
    transition: 1s;
}

#btnBenavidez:hover{
    border-top: 1px solid rgb(0, 0, 0);
    padding-top: 10px;
}

#btnLibertador{
    border: none;
    font-family: 'Righteous', cursive;
    background: none;
    transition: 1s;
}

#btnLibertador:hover{
    border-top: 1px solid rgb(0, 0, 0);
    padding-top: 10px;
}

#btnVillaMayo:hover{
    border-top: 1px solid rgb(0, 0, 0);
    padding-top: 10px;
}

#btnSanIsidro:hover{
    border-top: 1px solid rgb(0, 0, 0);
    padding-top: 10px;
}

#btnNordelta:hover{
    border-top: 1px solid rgb(0, 0, 0);
    padding-top: 10px;
}