.bodyy{
    display: grid;
    grid-template-areas: 
    "nav nav"
    "main main"
    "footer footer";
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 90% 10%;
}

// HEADER
.header_pages{
    grid-area: nav;
    background-color: #000000;
    height: 100%;
    width: 100%;
}

.navbar3{
    display: none;
}

.navbar2 ul{
    list-style: none;
    display: block;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding: 0%;
    margin: 0%;
    height: 100%;
}

.navbar2{
    height: 100%;
}

.navbar2 nav{
    height: 100%;
}

.navbar2 ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Righteous', cursive;
    transition: 1s;
    padding: 3px;
}

.navbar2 ul li a:hover{
    color: rgb(255, 184, 97);
    font-size: 17px;
    padding: 10px;
}

.logo_div{
    height: 60%;
    width: 30%;
}

.logo_img{
    height: 60%;
    width: 30%;
}


// MAIN
.main_pages{
    grid-area: main;
    background-color: rgb(255, 220, 185);
    height: 100%;
    width: 100%;
}

.locales_separador{
    margin-top: 30px;
}

.separador{
    width: 100%;
}

.elegir_local ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.elegir_local ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Righteous', cursive;
    transition: 1s;
}

.elegir_local ul li a:hover{
    color: #757575;
    font-size: 18px;
}

.elegir_local{
    margin-right: 300px;
}

.publicidad{
    width: 70%;
    height: 250px;
    margin-top: 70px;
}

// JS

.imglocal{
    text-align: center;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 40px;
}

.imagenlocal{
    height: 400px;
    width: 700px;
    border-radius: 4px;
}

.letraLocales{
    font-family: 'Righteous', cursive;
    margin-left: 30px;
    margin-top: 110px;
    border-bottom: 1px solid black;
    color: rgb(0, 0, 0);
    line-height: 2;
    box-shadow: 10px 5px 5px black;
    background-color:rgb(253, 197, 141);
}

//RESPONSIVE

@media screen and (max-width:900px) {

    .bodyy{
        display: grid;
        grid-template-areas: 
        "main"
        "footer";
        grid-template-columns: 100%;
        grid-template-rows: 90% 10%;
    }

    .imglocal{
        width: 100%;
        display: grid;
        grid-template-areas: 
        "imagen"
        "texto";
        grid-template-columns: 100%;
        grid-template-rows: 60% 40%;
        margin-top: 0;
    }

    .imagenlocal{
        width: 85%;
        grid-area: imagen;
        height: 100%;
    }

    .letraLocales{
        grid-area: texto;
        height: 100%;
        margin: 0;
        width: 90%;
        font-size: 100%;
        height: 90%;
    }
    .imglocal{
        height: 500px;
    }

    .elegir_local{
       margin-top: 80px;
       margin-right: 0;
    }

    .elegir_local ul{
        padding: 0;
    }

    .publicidad{
        width: 100%;
    }

    .navbar3{
        display: block;
        font-family: 'Righteous', cursive;
    }

    .navbar2{
        display: none;
    }

    .navbar-nav li a{
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .elegir_local ul{
        flex-wrap: wrap;
    }

    .elegir_local ul li{
        padding: 15px;
    }
}

