.logo {
  height: 200px;
  width: 100%;
}

.img_logo {
  height: 100%;
  width: 100%;
}

.navbar nav {
  width: 100%;
  height: 100%;
}

.navbar ul {
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
  padding-right: 27px;
}

.navbar ul li {
  margin-bottom: 100px;
}

.navbar ul li a {
  text-decoration: none;
  border-bottom: 1px solid white;
  color: white;
  font-family: "Righteous", cursive;
  transition: 1s;
}

.navbar ul li a:hover {
  color: rgb(255, 136, 0);
}

.nuestras_cervezasLi {
  margin-top: 32px;
}

.header_index {
  width: 100%;
  margin: 0px;
}

.body {
  background-color: rgb(0, 0, 0);
}

.navbar_logo_redes {
  text-align: center;
  width: 100%;
}

/* REDES */
.instagram a {
  color: rgb(246, 73, 133);
}

.instagram {
  transition: 1s;
}

.instagram:hover {
  transform: translateY(-3px) scale(1.2);
  filter: none;
}

.twitter {
  transition: 1s;
}

.twitter:hover {
  transform: translateY(-3px) scale(1.2);
  filter: none;
}

.facebook {
  transition: 1s;
}

.facebook:hover {
  transform: translateY(-3px) scale(1.2);
  filter: none;
}

.seccion_redes {
  display: flex;
  justify-content: space-around;
}

/* Texto */
.h3_header {
  font-size: 13px;
  color: white;
  font-family: "Righteous", cursive;
  margin-top: 12px;
}

/* GRIDS */
.body {
  display: grid;
  grid-template-areas: "navv main" "navv main";
  grid-template-columns: 13% 87%;
  grid-template-rows: 50% 50%;
}

.header_index {
  grid-area: navv;
}

/* MAIN */
.main_index {
  grid-area: main;
  display: grid;
  grid-template-areas: "navv1 navv2" "navv3 navv4";
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.div1 {
  grid-area: navv1;
  height: 100%;
  width: 100%;
  background-image: url(../assets/imagen_cervezas_main.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  font-family: "Righteous", cursive;
  justify-content: center;
  align-items: center;
  transition: 1.5s;
}

.div1 h1 a {
  text-decoration: none;
  color: white;
  transition: 1s;
}

.div1 h1 a:hover {
  text-decoration: none;
  font-size: 50px;
  color: rgb(255, 218, 183);
}

.div1:hover {
  background-size: 105% 105%;
}

.div2 {
  grid-area: navv2;
  height: 100%;
  width: 100%;
  background-image: url(../assets/imagen_locales_main.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  font-family: "Righteous", cursive;
  justify-content: center;
  align-items: center;
  transition: 1.5s;
  text-align: center;
}

.div2 h1 a {
  text-decoration: none;
  color: white;
  transition: 1s;
}

.div2 h1 a:hover {
  text-decoration: none;
  font-size: 50px;
  color: rgb(255, 218, 183);
}

.div2:hover {
  background-size: 105% 105%;
}

.div3 {
  grid-area: navv3;
  height: 100%;
  width: 100%;
  background-image: url(../assets/imagen_tragos_main.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  font-family: "Righteous", cursive;
  justify-content: center;
  align-items: center;
  transition: 1.5s;
  text-align: center;
}

.div3 h1 a {
  text-decoration: none;
  color: white;
  transition: 1s;
}

.div3 h1 a:hover {
  text-decoration: none;
  font-size: 50px;
  color: rgb(255, 218, 183);
}

.div3:hover {
  background-size: 105% 105%;
}

.div4 {
  grid-area: navv4;
  height: 100%;
  width: 100%;
  background-image: url(../assets/imagen_fabrica_main.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  font-family: "Righteous", cursive;
  justify-content: center;
  align-items: center;
  transition: 1.5s;
  text-align: center;
}

.div4 h1 a {
  text-decoration: none;
  color: white;
  transition: 1s;
}

.div4 h1 a:hover {
  text-decoration: none;
  font-size: 50px;
  color: rgb(255, 218, 183);
}

.div4:hover {
  background-size: 105% 105%;
}

.bodyy {
  display: grid;
  grid-template-areas: "nav nav" "main main" "footer footer";
  grid-template-columns: 50% 50%;
  grid-template-rows: 75px 100% 100%;
}

.header_pages {
  grid-area: nav;
  background-color: #232323;
  height: 100%;
  width: 100%;
  background-image: url(../assets/fondo-de-presentacion.jpg);
}

.navbar2 ul {
  list-style: none;
  display: block;
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  padding: 0%;
  margin: 0%;
  height: 100%;
}

.navbar2 {
  height: 100%;
}

.navbar2 nav {
  height: 100%;
}

.navbar2 ul li a {
  text-decoration: none;
  color: white;
  font-family: "Righteous", cursive;
  border-bottom: 1px solid white;
  transition: 1s;
}

.navbar2 ul li a:hover {
  color: rgb(255, 184, 97);
  font-size: 17px;
}

.logo_div {
  height: 60%;
  width: 30%;
}

.logo_img {
  height: 60%;
  width: 30%;
}

.main_pages {
  grid-area: main;
  background-color: rgb(255, 143, 30);
  height: 100%;
  width: 100%;
}

.locales_separador {
  margin-top: 30px;
}

.elegir_local ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.elegir_local ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: "Righteous", cursive;
}

.elegir_local {
  margin-right: 300px;
}

.footer_pages {
  grid-area: footer;
  background-color: brown;
  height: 100%;
  width: 100%;
}

.logo_reservas {
  height: 250px;
  width: 250px;
}

body {
  background-color: rgb(206, 166, 55);
  text-align: center;
}

form input {
  margin: 12px;
}

.imgUsuario {
  height: 70px;
  width: 70px;
}/*# sourceMappingURL=estilos.css.map */