@import "./index";

@import "./nuestroslocales";

@import "./reservas"; 

.rojo{
    background-color: red;
}

.amarillo{
    background-color: yellow;
}

.verde{
    background-color: green;
}

.error{
    color: red;
    border: 1px solid red;
}
